.container {
  height: 100vh;
  background-image: url("../../assets/login-bg.png");
  background-size: cover;
}

.form {
  background-color: #fff;
  border-radius: 8px;
  padding: 2rem !important;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);

  h1 {
    text-align: center;
  }
}
