.header {
  background-color: #fff !important;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 2rem;
}

.menu {
  justify-content: space-between;
}

.itemContainer {
  display: flex;
  flex-direction: row;
}
